<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<body>
    <div class="App">
        <header class="App-header">
            <img src="https://e0.pxfuel.com/wallpapers/506/346/desktop-wallpaper-popcat-meme-cat.jpg" class="App-logo" alt="logo" />
            <p>
                Meoww Meow MEOWWWW<span class="heart">♥️</span> 
            </p>
            <div>HAHAHHAHAHHAHAHA</div>
            <p class="small">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>
        </header>
    </div>
</body>

</html>
